<div class="dark-header" style="margin-bottom: 90px;">
  <header id="header">
    <div class="container-fluid">

      <div class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1 class="ado-logo"><a>Ado<span>Pi</span>Soft</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="buy-tickets"><a href="<%= main_app.activation_url(subdomain: "www") %>">Buy License</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


</div>
