<!--==========================
  Contact Section
  ============================-->
  <section id="contact" class="section-bg wow fadeInUp">

    <div class="container">

      <div class="section-header">
        <h2>Contact Us</h2>
        <%#<p>Nihil officia ut sint molestiae tenetur.</p>%>
      </div>

      <div class="row contact-info">

        <div class="col-md-4 offset-md-2">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>Room#2 D-Norte Apartelle, Dawis Norte, Carmen, Cebu</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:<%= support_email %>"><%= support_email %></a></p>
          </div>
        </div>

        <%#<div class="col-md-4">%>
        <%#  <div class="contact-phone">%>
        <%#    <i class="ion-ios-telephone-outline"></i>%>
        <%#    <h3>FB Messenger</h3>%>
        <%#    <p><a href="//facebook.com/adopisowifi">@adopisowifi</a></p>%>
        <%#  </div>%>
        <%#</div>%>

      </div>

    </div>

  </section>


