<div class="alert alert-warning">
  Important: This is a DIY (do it yourself) product. We do not have a dedicated support in case some of your wirings or components are not working. You can join our <%= link_to "community", main_app.thredded_url %> and ask questions or <a href="mailto:<%= support_email %>">email</a> us if you are having difficulty following this guide.
</div>
