
<!--==========================
  Schedule Section
  ============================-->
  <section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h2>How It Works?</h2>
        <p>Learn how easy it is for customers to use the system in these simple steps.</p>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Step 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Step 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Step 3</a>
        </li>
      </ul>

      <h3 class="sub-heading"></h3>

      <div class="tab-content row justify-content-center" id="steps">

        <!-- Schdule Day 1 -->
        <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
          <h3>Connect to wifi network</h3>
          <p>
          Turn on your device's wifi and select the SSID of your wifi network. See photo below:
          </p>
          <%= image_tag "ado-landing-pages/connect-to-wifi-network.jpg" %>
        </div>
        <!-- End Schdule Day 1 -->

        <!-- Schdule Day 2 -->
        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
          <h3>
            Open browser and click insert coin button
          </h3>
          <p>
          A webpage will open automatically (or can be opened in browser by visiting <a href="http://10.0.0.1">http://10.0.0.1</a>). Then click the <em>INSERT COIN</em> button. See image below:
          </p>
          <%= image_tag "ado-landing-pages/click-insert-coin-button.jpg" %>
        </div>
        <!-- End Schdule Day 2 -->
        <!-- Schdule Day 3 -->
        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
          <h3>
            Insert coin into the coinslot
          </h3>
          <p>
          Your phone will be beeping to signal insert coin. Now, drop coins into the coinslot.
          </p>
          <p>
          The equivalent time will be displayed in the web page. You are now connected to the internet until the timer reaches zero.
          <p>
          <%= image_tag "ado-landing-pages/connected-to-internet.jpg" %>
        </div>
        <!-- End Schdule Day 3 -->

      </div>

    </div>

  </section>

