<section id="intro">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0"><%= app_name %><br><span>WiFi Hostpot</span> Management System</h1>
    <p class="mb-4 pb-0">Simple yet effective management software for coin-operated WiFi hotspot machines.</p>
    <a href="https://www.youtube.com/watch?v=oNyNl_U1_BI" class="venobox play-btn mb-4" data-vbtype="video"
                                                                                        data-autoplay="true"></a>
    <a href="#how" class="about-btn scrollto">Learn More</a>
  </div>
</section>

