<div class="alert alert-info">
  <p>
  <em><%= app_name %></em> is <strong>not responsible</strong> for the following matters:
  </p>
  <ul>
    <li>
      Fraudulent transactions made between the buyer and distributor.
    </li>
    <li>
      Any hardware specific issues including but not limitted corrupt SD card, loose wirings, and any busted electrical components.
    </li>
    <li>
      Software configuration issues including misconfigured WAN IP, connectivity issues with ISP, timer settings and conslot issues specific to your unit and not a confirmed software bug.
    </li>
  </ul>

  <p>
  If you have problem or issues with your machine bought from distributors, please <a href="<%= main_app.buy_url %>">contact the distributor</a> or ask in the <%= link_to "forum", thredded_url %>. Sellers/distributors buy our software to manufacture their product. We are not liable for any transactions between the buyer and distributor.
  </p>

</div>
