<div class="alert alert-warning">
  Due to a number of fraudulent Paypal transactions we have encountered, Paypal checkout is now exclusive for distributors. For individual users, you may send us an email at <a href="mailto:support@adopisoft.com">support@adopisoft.com</a> for the manual payment method instructions.
</div>
